.xan-border {width: 335px; height: 215px; margin: auto; position: relative; border: 8px solid #C7C7C7; outline: 1px solid #CCC;}


.xan-img {width: 320px; height: 200px; background:url(); margin-left: 0px} 


.xan-blue {width: 320px; height: 200px; position: absolute; top: 0px;}


.xan-quo1 {width: 320px; padding-left: 10px; padding-top: 155px; text-shadow: 1px 1px 1px #0d0d0d; font-family: 'Condiment', cursive; color: #A9893F; font-weight: 400; font-size: 40px; text-align: left; letter-spacing: 0px; word-spacing: 5px; text-transform: uppercase; line-height: 90%;}


.xan-quo2 {width: 320px; padding-left: 12px; padding-top: 0px; text-shadow: 1px 1px 1px #000; font-family: "Roboto Condensed", sans-serif; color: #c7c7c7; font-weight: 700; font-size: 7.5px; font-style: italic; text-align: justify; letter-spacing: 1px; word-spacing: 2px; text-transform: uppercase; line-height: 50%;}
